.login {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    /* Optional: a background color for the page */
}

.container {
    margin: auto auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the content horizontally */
    position: relative;
}

.container .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.loginForm {
    width: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

/* Form styling */
.formHead {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start; /* Aligns text to the left */

}

.formHead span:nth-child(1) {
    font-family: 'Instrument Sans';
    font-weight: 700;
    font-size: 30px;
}

.formHead span:nth-child(2) {
    font-family: 'Instrument Sans';
    font-weight: 300;
    font-size: 16px;
    color: #737373;
}

.form {
    margin-top: 30px;
    width: 100%;
}

.input1,
.input2 {
    margin-top: 30px;
}

label {
    padding-bottom: 10px;
    font-family: 'Instrument Sans';
}

form>div ._ {
    margin-top: 5px;
    position: relative;
}

form>div ._ ion-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

form>div ._ input {
    height: 45px;
    width: 100%;
    padding-left: 35px;
    /* Offset padding to match icon placement */
    transition: box-shadow 0.2s ease;
    font-family: 'Instrument Sans';
    transition: box-shadow 0.3s ease;
}

form>div ._ input:focus {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    outline: none;
}

.button {
    margin-top: 25px;
    width: 100%;
}

.lgButton {
    width: 100%;
    height: 45px;
    background-color: #633CFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Instrument Sans';
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.lgButton:hover {
    background-color: #4e25f5;
}

.createAccount {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Instrument Sans';
    font-size: 16px;
    font-weight: 400;
    color: #888888;
}

.createAccount a {
    color: #633CFF;
    text-decoration: none;
    font-weight: 500;
}

.createAccount a:hover {
    text-decoration: underline;
}
p{
    text-align: left;
}
.empty{
    border: 1px solid Red;
}
.empty:focus{
    border-color: black;
}